<!-- [ ADD EMPLOYEE ] -->
 <br>
 <h1> Add New Employee </h1>

 <form (ngSubmit)="addEmployee()" #addEmployeeForm="ngForm">
    <input type="text" placeholder="First Name" [(ngModel)]="newEmployee.first_name" name="first_name" required>
    <br>
    <input type="text" placedholder="Last Name" [(ngModel)]="newEmployee.last_name" name="last_name" required>
    <br>
    <input type="email" placeholder="Email" [(ngModel)]="newEmployee.email" name="email" required>
    <br>
    <input type="text" placeholder="Gender" [(ngModel)]="newEmployee.gender" name="gender">
    <br><br>
    <input type="text" placeholder="Designation" [(ngModel)]="newEmployee.designation" name="designation" required>
    <br>
    <input type="text" placeholder="Department" [(ngModel)]="newEmployee.department" name="department" requried>
    <br>
    <input type="number" placeholder="Salary" [(ngModel)]="newEmployee.salary" name="salary" required>
    <br>
    <input type="text" placeholder="Date of Joining" [(ngModel)]="newEmployee.date_of_joining" name="date_of_joining" required>
    <br>
    <input type="text" placeholder="Employee Photo URL" [(ngModel)]="newEmployee.employee_photo" name="employee_photo">
    <br><br>
    <button type="submit">+</button>
 </form>

<br><br><br>

<div *ngIf="loading">Loading Employee List...</div>
<div *ngIf="error"> {{ error }} </div>

<h2> EMPLOYEE LIST </h2>
<table class="employee-table th">
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Designation </th>
            <th> Department </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.designation }}</td>
            <td>{{ employee.department }}</td>
        </tr>
    </tbody>
</table>

<!-- 
--- Currently Hardcoding Employees
------ consider dynamically populating employees from into table from employee-list.component.ts-->
